body{ background: linear-gradient(to bottom right, white, #bcbdc4);
height:4000px;}
a{color:white;
text-decoration:none;}
p1{color:#1b6192;
font-family:verdana;
font-size:15px;}
p2{color:#868383;
font-family:verdana;
font-size:15px;}
p3{color:#1b6192;
font-family:verdana;
font-size:15px;
font-weight:bold;}
p4{color:#868383;
font-family:verdana;
font-size:10px;}
p6{color:#1b6192;
font-family:verdana;
font-size:15px;
word-spacing:10px;}
p7{font-size:20px;
color:#868383;
font-family:verdana;}
#commentprof{top:785px;
left:10px;
width:30px;
height:30px;}
#commentprof2{top:560px;
left:0px;
width:30px;
height:30px;}
#commentboxpos{top:785px;
left:50px;
width:540px;
height:30px;}
#commentboxpos2{top:560px;
left:40px;
width:540px;
height:30px;}
#commentbox{
width:540px;
height:30px;}
.headerx{
position:fixed;
width:100%;
height:100px;
top:0;
left:0;
color:white;
z-index:7;
font-family:verdana;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
 
}
.header{
position:fixed;
width:100%;
height:100px;
background:#3D5B99;
top:0;
left:0;
color:white;
z-index:7;
font-family:verdana;
 
}
#searchbox{width:500px;
height:26px;
background:white;
padding:5px;
outline:none;
border-radius: 10px/10px;
background-image:url(sr.png);
background-position:465px;
background-repeat:no-repeat;
}
#searcharea{top:17px;
left:240px;
height:40px;
}
#profilearea{top:15px;
left:795px;
height:40px;
}
#profilearea1{top:20px;
left:830px;
height:20px;
font-size:20px;
font-family:verdana;}
#profilearea2{top:10px;
left:1150px;
height:30px;
font-size:30px;
font-family:verdana;}
#profilearea3{top:10px;
left:900px;
height:30px;
font-size:30px;
font-family:verdana;}
#profilearea4{top:20px;
left:920px;
height:20px;
font-size:20px;
font-family:verdana;}
#findf{top:15px;
left:1015px;
height:30px;}
#message{top:15px;
left:1060px;
height:30px;}
#notification{top:15px;
left:1105px;
height:30px;}


#facebookFont{left:100px;

top:50px;
background-color:transparent;
font-family:'FACEBOLF';
font-size:40px;
font-weight:bold;
left:150px;

}
#loginbox{width:100px;
height:20px;
background:white;
padding-left:5px;}
#setting{top:15px;
height:30px;
left:1170px;}
#logout{top:15px;
height:30px;
left:1215px;}
#form1{left:700px;
top:20px;
height:60px;
 
width:180px;
}
#form2{left:895px;
top:20px;
 
height:60px;
width:200px;}
}
#button1{background:white;
color:#142170;
width:50px;
height:22px;
cursor:pointer;}
#submit1{left:1100px;
top:39px;
height:25px;
width:50px;
}
.bodyx{
position:absolute;
left:0;
top:100px;
width:100%;
height:645px;
 
}
#intro1{top:40px;
left:100px;
font-family:verdana;
font-size:30px;
color:#142170;
height:75px;
width:550px;
}
#intro2{top:40px;
left:700px;
font-family:verdana;
font-size:50px;
color:#142170;
width:500px;
height:60px;}
 
#img2{top:150px;
left:120px;
height:250px;
width:550px;}
#intro3{top:100px;
left:700px;
font-family:verdana;
font-size:20px;
color:#142170;
height:50px;
width:300px;}
#namebox{width:200px;
height:50px;
border-radius:10px/10px;
background:white;
padding:10px;
font-size:20px;
}
#form3{top:150px;
left:700px;
font-family:verdana;
font-size:20px;
color:#142170;
width:450px;
height:495px;
}
#mailbox{width:400px;
height:50px;
border-radius:10px/10px;
background:white;
padding:10px;
font-size:20px;
}
#button2{width:100px;
height:50px;
background:green;
color:white;
font-size:20px;
border-radius:15px/15px;
cursor:pointer;
outline:none;}
.body1{
position:absolute;
left:0;
top:750px;
width:100%;
height:80px;
background:white;
}
#conclu1{width:930px;
top:15px;
left:200px;
color:#bcbdc4;
height:60px;}
.header1{
position:fixed;
width:100%;
height:60px;
background:#142170;
top:0;
left:0;
color:white;
z-index:7;
 
}
.header0001{
position:fixed;
width:100%;
height:60px;
background:#142170;
top:0;
left:0;
color:white;
z-index:6;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
 
}
#img3{left:100px;
height:50px;
top:5px;}
.bodyn{top:70px;
left:30px;
position:absolute;
width:200px;
height:740px;
font-family:verdana;
}





 
 
